.home {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 8fr 2fr;
    gap: 30px;
    align-items: center;
    font-size: 20px;
}
.home__ava {
    overflow: hidden;
    width: 100px;
    img{
        border-radius: 100%;
    }
}
.home__button {
    align-items: center;
    button {
        background-color: red;
        padding: 12px 15px;
        font-size: 24px;
    }
}
